%p
  %strong
    ID:
  = @appointment.id
%p
  %strong
    ФИО клиента:
  = @appointment.full_name
%p
  %strong
    Телефон клиента:
  = @appointment.phone
%p
  %strong
    Прием назначен на:
  = l(@appointment.arranged_at, format: :full)
%p
  %strong
    Название Услуги:
  = @appointment.service_name
%p
  %strong
    Специалист:
  = @appointment.expert_full_name
%p
  %strong
    Создано:
  = l(@appointment.created_at, format: :full)
